{% extends 'music/base.html' %}
{% load static %}
{% block title %}
    Search Results
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
    {% if albums %}
        {% for album in albums %}
            <div class="col-md-3 p-3">
                <div class="card">
                    <a href="{% url 'music:detail' album.slug %}">
                        <img src="{{ album.album_logo.url }}" alt="" class="w-100 pb-3">
                    </a>
                    <h5 class="pl-3 font-weight-bold">{{ album.album_title }}</h5>
                    <h6 class="pl-3">{{ album.artist }}</h6>
                    <div class="d-flex pl-3 pb-3">
                        <a href="{% url 'music:detail' album.slug %}" class="btn btn-outline-success btn-sm">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
           
        {% endfor %}
        {% else %}
            <p class="alert alert-danger col-md-12">There are no albums or songs found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}



